body {
  background-color: bisque;
  font-family: 'Indie Flower', cursive;
}


#maindiv {
  padding: 0px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -135px;
  margin-top: -135px;
  border: 2px solid;
  border-radius: 9px;
  box-shadow: 5px 5px 5px 5px blue;
}


#btnCalc {
  font-family:"Helvetica Neue", Helvetica, Arial;
  width: 263px;
  padding: 0 0 0 15px;
  margin: 0 auto;
  display: table;
  font-weight: bold;
  height: 50px;
  border-radius: 3px;
  margin-top: 5px;
  font-size: 23px;
  background-color: #ffffff;
  cursor: pointer;
  color: #009885;
  transition: 0.8s;
}

#btnCalc:hover {

  background-color: #009885;
  border: 2px solid;
  border-radius: 8px;
  color: #ffffff;

}

::-webkit-input-placeholder {
  color: #ffffff;
  font-family: 'arial', sans-serif;
}

.inputs {
  font-family: 'arial', sans-serif;
  width: 250px;
  height: 45px;
  margin: 2px 0;
  border-radius: 3px;
  padding: 0 0 0 15px;
  font-size: 22px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.15);
  transition: 0.8s;
  margin-left: 40px;
}

.inputs:hover {
  transform: scale(1.2);
}

#message {
  font-size: 20px;
  color: #009885;
  text-align: center;
}

#title {
  text-align: center;
  color: #009885;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}